*{
    margin: 0;
    padding: 0;
}

body{
}

#wrapper{
    background-image: url("../Image/despicable_me_minions-wide.jpg");
    background-repeat: no-repeat;
}

header ,footer{
    height: 120px;
    background-color: #3b5997;
}

header h1{
    padding-left: 150px;
    padding-top: 20px;
    color: white;
    text-shadow: 5px 5px 5px black;
    width: 50%;
    height: 100%;
    float: left;
}

header nav{
    float: left;
    vertical-align: bottom;
    padding-top: 95px;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

#white-list-sheet{
    width: 800px;
    height: 700px;
    /*background-color: white;*/
    margin: 50px auto;
    box-shadow: 20px 20px 10px black;
    background-color: rgba(255, 255, 255, 0.9);
}
