*{
    margin: 0;
    padding: 0;
}

body{
}

#wrapper{
    background-image: url("../Image/despicable_me_minions-wide.jpg");
    background-repeat: no-repeat;
}

header{
    padding-left: 100px;
    padding-top: 20px;
}

header img{
    width: 80px;
    height: 85px;
    float: left;
    box-shadow: 5px 5px 5px black;
}

header ,footer{
    height: 120px;
    background-color: #3b5997;

}

header h1{
    padding-left: 10px;
    /*padding-top: 20px;*/
    color: white;
    text-shadow: 5px 5px 5px black;
    width: 500px;
    height: 100px;
    float: left;
}

header nav{

   display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

#mainData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

#leftAside{
    width: 190px;
    height: 700px;
    background-color: lightblue;
    border: 1px solid yellow;

    margin-top: 50px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: scroll;
}
#headerAside{
    background-color: yellow;
    /* display: flex;
     flex-direction: row;*/
    color: #000000;
    border-radius: 10px;

}
#headerAside > a{
    position: absolute;
    margin-left: -100px;
    color: crimson;
}
#headerAside > a > img{
    width: 61px;
    height: 100px;
}
#headerAside > a > img:hover{
    width: 200px;
    height: 200px;
    transition: all 1s;
}
.nakovName{
    color: cornflowerblue;
    margin-top: 20px;
}


#white-list-sheet{
    width: 850px;
    height: 680px;
    padding: 10px;
    margin: 50px auto;
   box-shadow: 20px 20px 10px black;
    background-color: rgba(255, 255, 255, 0.9);
}

#header-white-list-sheet{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
#header-white-list-sheet > a > img{
    margin-left: -50px;
}

.white-list-layout{
    font-size: 20px;
}
#movieName{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
#video{
    width: 100%;
    height: 200px;
    margin: 0 auto;

}
#homer{
    width: 100px;
    height: 100px;
    float: right;
}

#rightAside{
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 50px;
    height: 700px;
    width: 200px;
    background-color: lightblue;
    border-top-right-radius: 10px;
}
#rightAside > header{
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    background-color: yellow;
    height: 60px;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
}
#rightAside > ul{
    list-style-type: none;
}
#rightAside > ul > li{
    margin-bottom: 20px;
}
#rightAside > ul > li > img{
    height: 74px;
    width: 198px;
}
#rightAside > ul > li > img:hover{
    margin-left: -200px;
    height: 300px;
    width: 300px;
    transition: all 1s;
}
.infoPics{
    font-size: 12px;
    font-weight: bold;
}
#trailer{
    display: none;
}



@media all and (max-width: 1283px) {
   #mainData{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
    #white-list-sheet {
        width: 600px;
        overflow:scroll;
        margin-left: 0;
        margin-right: 0;
    }

    #header-white-list-sheet{
        text-align: left;
        width: 100%;
        font-size: 2.5em;
    }
    #video{
        display: none;
    }
    #trailer{
        display: inline;
    }

}



@media all and (max-width: 1033px) {

    #mainData{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #white-list-sheet {
        width: 450px;
        overflow:scroll;
        margin-left: 0;
        margin-right: 0;
    }

    #header-white-list-sheet{
        text-align: left;
        font-size: 2em;
        width: 100%;
    }
    #video{
        display: none;
    }
    #trailer{
        display: inline-flex;
    }
}

@media all and (max-width: 883px) {

    #mainData{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #white-list-sheet{
        margin-left: 0;
        margin-right: 0;
        overflow:scroll;
        width: 250px;
    }
    #header-white-list-sheet {
        text-align: left;
        width: 100%;
        font-size: 0.7em;
    }
    #video{
        display: none;
    }
    #trailer{
        display: inline-flex;
    }

}