body, button, div, section , main, header, * {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body {
	background-color:#3b5997;	
} 

body>header {
	height:120px;
} 

main {
	margin:40px auto;
	width:700px;		
	overflow:auto;
	position:relative;	
}

button {
	position:absolute;	
	top:0;
	left:0;
	transition:top 1s ease, left 1s ease, width 2s ease, height 2s ease, box-shadow 3s ease;	
	-webkit-transition:top 1s ease, left 1s ease, width 2s ease, height 2s ease, box-shadow 3s ease;
	margin-left:0;	
	background: rgba(35,90,255,0.6);
	overflow:hidden;
	display:table-cell;	
	
    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.6),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.6),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
	
	box-shadow: 
        0 2px 8px rgba(0,0,0,0.6), /* rgba(0,0,0,0.5)Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */		
	
	
	outline:none;
	color:white;
	font-family:"Comic Sans MS",Tahoma;
	text-shadow:2px 2px 2px black;
}

button:hover {
	box-shadow:none;
	cursor:pointer;		
}

button:hover .move-on-hover {
	position:relative;
	top:3px;		
	text-decoration:underline;
	transition:all 1s ease;
	text-shadow:-2px -2px 2px black;
}

button .move-on-hover:not(#ajusted){
	margin-top:20px;
}


div#only-pic {
	width:100px;
	height:50px;	
}

#butt0 {
	top:220px;
	left:470px;
	width:370px;
	height:480px;
	z-index:4;
	box-shadow: 0 15px 15px rgba(0,0,0,0.9);
}

#butt1 {
	top:360px;
	left:80px;
	width:300px;
	height:300px;
	z-index:2;	
	box-shadow: -10px 14px 10px rgba(0,0,0,0.6);
}

#butt2 {
	top:130px;
	left:10px;
	width:250px;
	height:150px;
	z-index:3;
	box-shadow: -5px -5px 5px rgba(0,0,0,0.4);
}

#butt3 {
	top:100px;
	left:355px;
	width:300px;
	height:300px;
	z-index:1;
	box-shadow: -10px -7px 10px rgba(0,0,0,0.6);
}

#butt0>#only-pic0, #butt0>#full-content0, #butt0>#middle-size0, #butt1>#only-pic1, #butt1>#middle-size1,  #butt1>#full-content1, #butt2>#middle-size2,  #butt2>#full-content2, #butt2>#only-pic2,  #butt3>#only-pic3, #butt3>#middle-size3,  #butt3>#full-content3 {
	display:none;
}

#wrapper {
	background-image:url('../img/minio-background.jpg');
	background-repeat:repeat;
	background-size: 954px 850px;	
	background-position: 35% 0;
	overflow:auto;	
	padding:15px;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;	
}

.siders {	
	width:200px;
	background-color:white;
	opacity:0.9;
	border:2px solid lightgray;
	min-width:200px;	
	overflow:hidden;
}

#field {	
	height:750px;
	margin:auto;
	min-width:850px;
	overflow:hidden;	
}

#left-sider {
	width:14%;
	transition:width 2s ease,box-shadow 3s ease;
	box-shadow: -15px 15px 10px rgba(0,0,0,0.7);
}

#right-sider {
	width:17%;
	transition:width 2s ease,box-shadow 3s ease;
	box-shadow: -20px 20px 15px rgba(0,0,0,0.9);
}

#side-container{
	width:200px;
	height:750px;	
	position:absolute;
	display:block;
	margin:0;
	padding:0;	
	overflow:hidden;	
	color:black;
	font-family:"Comic Sans MS",Tahoma;
	text-shadow:2px 2px 3px gray;
	word-break: break-all;
	font-size:0.9rem;
}

#side-container>section {
	display:block;	
	width:100%;
	height:750px;
	transition:all 2s ease;	
	padding:15px;	
}

#side-container>section >article {
	display:block;	
}

.siders > input[type="button"]{
	position:relative;
	z-index:2;
	height:750px;
	width:30px;
	border:none;
	color:white;
	font-weight:bold;
	font-size:1.6rem;
	opacity:0;	
}

.siders > input[type="button"]:hover{
	background: #3B5997;
	cursor:pointer;
	opacity:0.4;
	transition:all 1s ease;	
	
}

#right1, #right2{	
	position:relative;
	left:200px;
	top:-750px;
}

.left-arrow {
	float:left;
}

.right-arrow {
	float:right;
	margin-right:-4px;
}

.siders-section {
	overflow:hidden !important;
}

.siders-section>article {
	line-height:0.9rem;
	word-spacing:0.9px;
	letter-spacing:0.9px;
	margin-bottom:37px;		
}

.siders-section>header{
	color:#3B5997;
	text-align:center;
	font-style:italic;
	font-size:1.2rem;	
	text-shadow:2px 2px 3px black;
	margin-bottom:5px;
}

.siders-section>hr {
	size:2px;
	color:gray;
	width:40%;
	margin:0 auto;
	margin-bottom:25px;
}

.siders-section>article >h3 {
	line-height:0.9rem;
	font-style:italic;
	color:#3B5997;
	text-align:left;
	margin-bottom:7px;
	word-spacing:0.9px;
	letter-spacing:0.9px;
	font-size:0.9em;
}
.siders-section>article>p {
	font-size:0.9em;
}

.siders-section>article >footer {
	text-align:right;
	margin-top:5px;
	font-weight:bold;
	line-height:0.9rem;
	font-style:italic;
	font-size:1em;
}

.sentension >p >span {
	color:#3B5997;	
	display:block;
}

main > button > div {
	width:100%;
	height:100%;	
	vertical-align:bottom;
	text-align:center;
	padding:3px;
	padding-top:0;
}

main > button > div:before{
	position:absolute;	
    content: '';
    background: rgba(0,0,0,0.3);
	transition:background 1s ease;
	
	
    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
	
	box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* rgba(0,0,0,0.5)Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */	
    width: 130%;
    height: 100%;
	left:-15px;
}

main > button:hover > div:before{
	 background: rgba(255,255,255,0);
	
    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
	
	box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* rgba(0,0,0,0.5)Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */	
}

.small > img {
	margin-top:3px;
	margin-left:-3px;
	width:95%;
	box-shadow:-3px -3px 3px rgba(0,0,0,0.7);
}

.small > span {
	position:relative;
	left:-5px;
	top:-30px;	
	font-size:1.1em;
	font-weight:bold;
} 

div.larger {
	display:block;	
	margin:3px 10px;
	font-size:1.1em;
	padding:0 10px;
	border:none;
	width:100%;
	height:100%;	
}

div.larger > img {
	display:block;	
	width:200px;
	margin:10px auto 15px auto;
	margin-top:3px;
	border:2px solid lightgray;
	box-shadow:-4px 4px 4px rgba(0,0,0,0.7);
}


div.larger > h3 {
	text-align:left;
	margin:-3px auto 5px 15px;
}

div.larger  > hr{
	height:3px;
	color:lightgray;
	size:3px solid gray;
	margin:0 auto;
	display:inline-block;
	background-color:rgba(0,0,0,0.2);
}

div.larger   hr:first-of-type{
	width:85%;
	height:5px;	
	display:block;
}

#secondary-hr1 {
	width:25%;
	position:relative;
	top:-9px;
	margin-left:9%;
	margin-right:35px;
	height:3px;	
}

#secondary-hr2 {
	width:25%;
	height:3px;	
	position:relative;
	top:-8px;		
}

div.larger > p {
	text-align:left;
	margin:0 15px;
	line-height:1.1em;
}

div.larger  span {
	font-weight:bold;
}

div.big{
	text-align:left;
}

div.big p {
	font-size:0.9rem;
	margin:7px;	
	/*text-align:justify;*/
}

div.big p:last-of-type{
	text-align:right;
}


div.big img {
	float:left;
	width:130px;
	margin:10px 7px 0 8px;	
	border:2px solid lightgray;
	display:inline-block;
	box-shadow:0px 5px 5px rgba(0,0,0,0.7);
}

div.big hr {
	width:90%;
	height:3px;
	height:3px;
	color:lightgray;
	margin:0 auto;
	position:relative;
}

div.big span{
	font-weight:bold;
	font-style:italic;	
}

div.big span>span {
	font-style:normal;
}


